* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.profile-container {
    width: 300px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.login {
    font-size: 18px;
    margin: 10px;
}

.description {
    font-size: 14px;
    margin: 20px;
    color: gray;
}

.description2 {
    font-size: 14px;
    margin: 5px;
    color: black;
}

.social-networks img {
    width: 50px;
    margin: 20px 10px;
}

.contact-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.contact-btn:hover {
    background-color: #0056b3;
}
